.bookcard{
    border:5px solid black;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
}



.cardimg{
    width: 80%;
    margin: auto;
    margin-top: 20px;

}
.cardimg img{
    width: 100%;
    height: 400px;
}

