.container{
    /* border: 2px solid red; */
    width: 90%;
    margin: auto;
}

.cont{
    border: 2px solid red;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
}



.container img{
    width: 100%;
   
}