
.App {
  text-align: center;
  width: 90%;
  margin: auto;
  border: 1px soild black;
}


.form_cont{
  width: 80%;
  margin: auto;
  /* border: 1px soild red; */
  /* margin: 20px */
}

/* .list_cont{
  text-align: center
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");


