/* Write your styles here  */

#header{
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
}
#doctors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  margin: auto;
  gap: 15px;
}
#doctors  div{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#doctors > div > div > button{
  margin: 0px 20px;
}
#doctor img{
  width: 100%;
}
h3,h6,p{
  text-align: center;
}
#service{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: auto;
  gap: 15px;
  margin-top: 50px;
  
}
#service > div{
  text-align: center;
}

/* keep media queries at the bottom */
/* Medium screens */
@media all and (min-width: 451px) and (max-width: 750px) {
  #doctors, #service{
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Small screens */
@media all and (min-width: 100px) and (max-width: 450px) {
  #doctors, #service{
    grid-template-columns: repeat(1, 1fr);
  }
}